body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.children-wrap {
  display: flex;
  justify-content: center;
  
  
}

.child-card-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 225px;
  padding: 16px;
  

}

.MuiCardContent-root {
  text-align: center;
}

.MuiCardActions-root {

}
