body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background: #161623; */
   
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  
  text-decoration: none;
  text-align: center;
  
}

/* .children-wrap {
  display: flex;
  justify-content: center;
  
  
} */

/* .child-card-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 225px;
  
  

} */

/* div .MuiCardContent-root {
  height: 100%;
  text-align: center;
  
} */

.MuiCardContent-root {

  text-align: center;

}

/* .chore-wrap {
  position: relative;
} */

.app-wrapper {
  background-image: url("/src/assets/shareCore.jpg"), linear-gradient(rgba(0,181,204,1),rgba(0,181,204,1));
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  z-index: -3;
}

h1 {
  color: rgb(0, 94, 144);
  margin-bottom: 10%;
}

h2 {
  color: whitesmoke ;
}

.logo {
  height: 450px;
}

.logo2 {
  height: 250px;
}

.container {
  width: 30rem;
  height: 20rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .15);   
  backdrop-filter: blur(5px);
 }

 .sign-up-wrapper {
  background-image: url("/src/assets/tracItLogoWhite.png"), linear-gradient(rgba(243,241,239,0.9),rgba(243,241,239,0.9));
  background-blend-mode: overlay;  
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover; 
  
  height: 100vh;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
 }

 

 @media screen and ( max-width: 920px ) {
     .sign-up-wrapper {
         width: 920px;

     }
 }
